<footer class="footer sm:footer-horizontal bg-base-300 items-center p-4">
  <aside class="grid-flow-col items-center">
    <img src="assets/images/logo.png" alt="Your App Logo" class="h-10">
    <p>Copyright © {{currentDate.substring(6)}} - All right reserved</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a><fa-icon [icon]="['fab', 'linkedin']" class="menu-icon"></fa-icon></a>
    <a><fa-icon [icon]="['fab', 'youtube']" class="menu-icon"></fa-icon></a>
    <a><fa-icon [icon]="['fab', 'github']" class="menu-icon"></fa-icon></a>
  </nav>
</footer>
